<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <body>
        <div class='login'>
            <h2>Login</h2>
            <input name='username' placeholder='Correo' type='email' />
            <input id='pw' name='password' placeholder='Contraseña' type='password' />
            <input type='submit' value='Login' />
            <a class='forgot' (click)="goRememberPage()">¿Olvidó su contraseña?</a>
            <a class='forgot' (click)="goSignUpPage()">¿No tienes cuenta?</a>
        </div>

    </body>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

</ion-content>