<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
        <ion-title>Programas</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <body>
        <div class='programas'>
            <h2>PROGRAMAS</h2>
            <br>
            <div id="principiantes">
                <h2>NIVEL PRINCIPIANTES:</h2>
                <ion-slides autoplay="5000" loop="true" speed="3000">
                    <ion-slide *ngFor="let slide of slideData">
                        <img src="{{slide.image}}" />
                        <input type='submit' value='Comprar' (click)="goComprasPage()" />
                    </ion-slide>
                </ion-slides>
            </div>
            <br>
            <div id="intermedio">
                <h2>NIVEL INTERMEDIO:</h2>
                <ion-slides autoplay="5000" loop="true" speed="3000">
                    <ion-slide *ngFor="let slide2 of slideData2">
                        <img src="{{slide2.image2}}" />
                        <input type='submit' value='Comprar' (click)="goComprasPage()" />
                    </ion-slide>
                </ion-slides>
            </div>
            <br>
            <div id="avanzado">
                <h2>NIVEL AVANZADO:</h2>
                <ion-slides autoplay="5000" loop="true" speed="3000">
                    <ion-slide *ngFor="let slide3 of slideData3">
                        <img src="{{slide3.image3}}" />
                        <input type='submit' value='Comprar' (click)="goComprasPage()" />
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </body>
</ion-content>