page-programas {
    body {
        background: #2f313d;
        color: #46485c;
        font-family: sans-serif;
    }
    h2 {
        color: #46485c;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    .programas {
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -184px 0px 0px -155px;
        background: rgba(0, 0, 0, 0.2);
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.07)
    }
    input[type="submit"] {
        background: #b5cd60;
        border: 0;
        width: 250px;
        height: 40px;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }
    input[type="submit"]:hover {
        background: #16aa56;
    }
}