page-envivo {
    body {
        background: #2f313d;
        color: #46485c;
        font-family: sans-serif;
    }
    h2,
    p {
        color: #46485c;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    a {
        color: #46485c;
        text-decoration: none;
    }
    .envivo {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -184px 0px 0px -155px;
        background: rgba(0, 0, 0, 0.2);
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.07)
    }
}