<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
<ion-icon name="menu"></ion-icon>
</button>
        <ion-title>En Vivo</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <body>
        <div class='envivo'>
            <h2>STREAMING</h2>
            <br>
            <iframe src="https://player.twitch.tv/?channel=trainerpersonal" frameborder="0" allowfullscreen="true" scrolling="no" height="350" width="350"></iframe>
            <a href="https://www.twitch.tv/trainerpersonal?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
            <br>
            <p>
                Bienvenidos, en esta sección encontrarán un material interesante, en el cual podrán observar en vivo y en directo charlas con personas especializadas en rutinas de ejercicios.
            </p>
        </div>

    </body>

</ion-content>