<ion-header>

    <ion-navbar>
        <ion-title>Remember</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <body>
        <div class='remember'>
            <h2>Enviar Contraseña al Correo</h2>
            <input name='correo' placeholder='Email' type='email' />
            <input type='submit' value='Enviar' />
        </div>

    </body>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

</ion-content>