<!--
  Generated template for the ComprasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>compras</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <body>
        <div class='formulario-compras'>
            <h2>Información de la Tarjeta</h2>
            <input name='numtarjeta' placeholder='Número de la Tarjeta' type='number' />
            <input name='numpropietario' placeholder='Nombre del propietario' type='text' />
            <input name='fecha' placeholder='Fecha de Expedición' type='text' />
            <input name='cvc' placeholder='CVC' type='number' />
            <input type='submit' value='Comprar' />
        </div>

    </body>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

</ion-content>