<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <body>
        <div class='home'>
            <h2>PERSONAL TRAINER</h2>
            <br>
            <img src="../../assets/imgs/Personal-Trainer.png" />
            <br>
            <p>
                Bienvenidos a personal trainer, acá encontrarás el mejor material para llevar una vida saludable y a precios cómodos, evitando gastar una gran cantidad de dinero en gimnasios y entrenadores costosos.
            </p>
        </div>

    </body>



</ion-content>