<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
        <ion-title>Contacto</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <body>
        <div class='login'>
            <h2>CONTÁCTANOS</h2>
            <input name='email' placeholder='Correo' type='email' required/>
            <input id='asunto' name='asunto' placeholder='Asunto' type='text' required/>
            <textarea id='descripcion' name='descripcion' placeholder='Descripcion' type='text' required></textarea>
            <input type='submit' value='Enviar' />
        </div>

    </body>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

</ion-content>