page-contacto {
    body {
        background: #2f313d;
        color: #46485c;
        font-family: sans-serif;
    }
    h2 {
        color: #46485c;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }
    a {
        color: #46485c;
        text-decoration: none;
    }
    .login {
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -184px 0px 0px -155px;
        background: rgba(0, 0, 0, 0.2);
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.07)
    }
    input[type="email"],
    input[type="text"],
    textarea {
        width: 250px;
        padding: 25px 0px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        outline: none;
        color: #E9E6E5;
        font-size: 12px;
    }
    textarea {
        overflow: hidden;
        height: 130px;
    }
    input[type="submit"] {
        background: #b5cd60;
        border: 0;
        width: 250px;
        height: 40px;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }
    input[type="submit"]:hover {
        background: #16aa56;
    }
     ::-webkit-input-placeholder {
        color: #46485c;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        transition: all 0.2s linear;
        transform: translate(10px, 0);
        opacity: 0;
    }
}