<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Sign Up</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <body>
        <div class='login'>
            <h2>SignUp</h2>
            <input name='nombres' placeholder='Nombre(s)' type='text' required/>
            <input name='apellidos' placeholder='Apellidos' type='text' required/>
            <input name='edad' placeholder='Edad' type='number' required/>
            <input name='celular' placeholder='Celular' type='tel' />
            <input name='pais' placeholder='País' type='text' required/>
            <input name='ciudad' placeholder='Ciudad' type='text' required/>
            <input name='email' placeholder='Email' type='email' required/>
            <input name='password' placeholder='Contraseña' type='password' required/>
            <input type='submit' value='SignUp' />
        </div>

    </body>

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

</ion-content>