<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>About Me</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <body>
        <div class='aboutme'>
            <h2>ABOUT ME</h2>
            <br>
            <img src="../../assets/imgs/Personal-Trainer.png" />
            <br>
            <p>
                Hola, somos Personal Trainer, una organización con ánimo de lucro, que decidimos realizar esta página web con el fin de brindar servicios de Streaming de rutina de ejercicios diarias, para las personas que deseen llevar una vida saludable y que no cuenten
                con demasiados recursos para invertir en gimnasios y/o entrenadores personales que suelen ser muy costosos.
            </p>
        </div>

    </body>


</ion-content>